<<<<<<< HEAD
<!DOCTYPE HTML>
<html lang="en">
  <head>
   <meta charset="UTF-8">
   <title>Surface area and volume of the cube</title>
    <link href="CSS/style.css" title="text/css" rel="stylesheet">
     <script type= "text/javascript" src="cube.js"></script>   
 </head>
  <body>
    <div id="wrapper">
     <div id="header">
      <div class="main">
        <h1>CUBE</h1>
         <h2>The mathematical formula for surface area and volume of the cube</h2>
          <h3><b> V = a * a * a</b></h3>
          <h3><b> P = 6 * a * a</b></h3>
          <div class="img">
          <img  src="./images/cube.png" alt="cube">
         </div>
           <ul class="popis">
             <li><span><b>V</b></span> – Cube volume</li>
             <li><span><b>P</b></span> – The surface of the cube</li>
             <li><span><b>a</b></span> – Cube page</li>
             <li><span><b>d</b></span> – Diagonal cube</li>
           </ul>
          </div>
    <script src="cube.js"></script>
        <form name="CUBE" action="javascript:Surfacearea()">
         <div class="main">
          <h2>Calculator</h2>
           <h3 id="error1">Enter the first value for<strong> a</strong> </h3>
            <table class="result">
                <tr><td><span class="prom">a = </span></td><td><input type="tel" name="page"></td>
                  <td><span class="prom">d = </span></td><td><input type="tel" name="diagonal"></td></tr>
            </table>
             <p> Print <input type="tel" name="desMesta" value="3" 
              class="desMesta" onFocus="goreDM();" onBlur="doleDM()"> decimal places</p> 
             
               </div>
         <div class="main">
               <div class="tab"><input type="submit" value="Calculate"><input type="reset" value="Delete"></div> 
                <table class="result">
               <tr><td>Volume<span class="prom">  
                 <b>V</b>= </span></td><td><input type="text" class="vysl" name="volume" readonly></td>
                   <td>Surface area<span class="prom">  
                     <b>P</b> = </span></td><td><input type="text" class="vysl" name="area" readonly></td></tr>
                </table>
           </div> <!--main-->
    <script src="cube.js"></script>
      </form>
       </div> <!--header-->
      </div> <!--wrapper--> 
 </body>  
</html>
=======
@charset "utf-8";
/* CSS Document */

body { margin: 0px 120px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-image: -webkit-linear-gradient(270deg,rgba(184,163,164,1.00) 0%,rgba(0,253,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(184,163,164,1.00) 0%,rgba(0,253,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(184,163,164,1.00) 0%,rgba(0,253,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(184,163,164,1.00) 0%,rgba(0,253,255,1.00) 100.00%);}

#wrapper{
	background:#CCE5FF;
	margin: 20px auto;
	padding: 15px;
	width: 960px;
}
#header{
	background:#E0E0E0; 
	padding: 15px;
	overflow: hidden;
	margin: 0 0 20px 0 ;
}
h1 {font:2.75em slabo,arial,sans-serif; color:darkblue; margin:0.2em 0;
	float: center}
h2 {font:2.2em slabo,arial,sans-serif; color:darkblue; margin:0.1em 0}
h3 {font:1.2em arial,sans-serif; color:darkblue; margin:0.1em 0; padding-top:10px}
h3:first-child {padding-top:0}
 input.desMista{width:1.5em; text-align:center; font-size:1em;}   
.main {padding:0 0.75em 0.3em; clear:both;color:darkslateblue;}
.main input[type="text"], .main input[type="tel"] {margin:0.3em 0;}
.main input[readonly] {border:0; border-bottom:1px solid #666666; padding:0.2em; margin:0.5em;}
p, ul.text {font:1.05em arial,sans-serif; line-height:1.3; margin:0.5em 0; text-align:justify;}
p span, .prom, h3 span, li span {font: italic 1.2em "Times New Roman",serif}
span.norm {font: normal 1.2em "Times New Roman",serif}
sub, sup {font: normal 0.7em "Times New Roman",serif}
sub.it, sup.it {font: italic 0.7em "Times New Roman",serif}
.tab input {padding:0.65em; margin:0.5em 0; min-width:5em}
.tab input[type="submit"] {margin-right:1.7em}
table.result tr td:first-child {font-size:1.05em}
.img{
    position: absolute;
    top: 8%;
    right: 15%
}
>>>>>>> 96b3c697f6243fb52b2d1a19d8f7a671d1c8dccf
